@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: 'Open Sans', Helvetica, sans-serif;
}

@media screen and (min-width: 1000px) {
	.main {
		height: 700px;
		background-image: url(../img/bg_01a.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#home {
		height: 700px;
		width: 1000px;
		margin: 0 auto;
	}

	#projetos {
		height: 400px;
		width: auto;
		margin: 100px auto;
		background-color: #ccc;
	}

	#equipe {
		height: 400px;
		width: auto;
		margin: 100px auto;
		background-color: #333;
	}

	#contato {
		height: 400px;
		width: auto;
		margin: 100px auto;
		background-color: #ccc;
	}

	#clientes {
		height: 400px;
		width: auto;
		margin: 100px auto;
		background-color: #333;
	}

	/*FOOTER*/
	footer {
		height: 100px;
		background-image: url(../img/bg_01.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	footer p {
		font-size: 25px;
		color: #fff;
		text-align: center;
		padding-top: 25px; 
	}
}

@media screen and (min-width: 320px) and (max-width: 999px) {
	body {
		height: 100%;
		width: 100%;
	}

	.main {
		height: 100%;
		width: 100%;
		background-image: url(../img/bg_01.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#home {
		height: 700px;
		width: 400px;
		margin: 0 auto;
	}

	a.navbar {
		font-size: 16px;
		margin-left: 20px;	
	}
}

.header {
	margin-top: 0px;
	width: 100%;
    margin: 0 auto;
}

.logo {
	margin-top: 10px;
	float: left;
}

.navigation {
	margin-top: 25px;
	float: right;
}

.navbar {
	color: #fff;
	font-size: 20px;
	margin-left: 25px;
	font-family: "Open Sans", Helvetica, sans-serif;
}

.navbar:hover {
	color: #999;
}

span {
	width: 100%;
}

h1 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 80px;
	color: #fff;
	text-align: center;
	clear: both;
	padding-top: 150px;
}

h2 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 36px;
	color: #fff;
	text-align: center;
	clear: both;
}
